/*font-family: 'Playfair Display', serif;*/
*{
    margin: 0;
    padding: 0;
}
header{

width: 90%;

margin: auto;

justify-content: space-between;

display: flex;
align-items: center;

padding-top: 20PX;
}
.logo{

width: 20%;
}
.logo img{}
.menu{

width: 50%;
}
.menu ul{

list-style: none;

display: flex;

justify-content: space-between;
align-items: center;
}
.menu ul li{

}
.menu ul li a{
    text-decoration: none;
    color: #626262;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}
.banner{

width: 90%;

margin: auto;

padding-top: 100px;
}
.banner img{
    
width: 100%;
}
.photodiary{

width: 80%;

margin: auto;

padding: 100px  0px;
}
.photodiary h5{
    
color: #b4ad9e;
    
font-size: 14px;
    
margin-bottom: 30px;
font-family: 'Ubuntu', sans-serif;
}
.photodiary h1{
    
color: #626262;
    
font-size: 35px;
font-family: 'Playfair Display', serif;
}
.photodiary p{
    
color: #626262;
    
font-size: 16px;
    
margin: 30px 0;
font-family: 'Playfair Display', serif;
}
.lifestyle-content{

display: flex;

justify-content: space-between;

flex-wrap: wrap;
}
.lifestyle{
    width: 45%;
    margin-top: 50px;
}
.lifestyle img{

width: 100%;
}
.lifestyle h5{

margin-top: 20px;

margin-bottom: 15px;
}
.lifestyle h1{
    
font-size: 30px;
}
.lifestyle p{
    
margin: 20px 0;
}
.signup{

background-color: #f0f0f0;

padding: 100px 0;
}
.signup-content{

width: 35%;

margin: auto;

text-align: center;

position: relative;
}
.signup-content h1{

font-size: 40px;

font-weight: 500;

color: #333333;

margin-bottom: 80px;
font-family: 'Playfair Display', serif;
}
.signup-content input{

background: transparent;

border: none;

border-bottom: black 1px solid;

width: 100%;

padding: 10px 0;
caret-color:black;
}
.signup-content input::placeholder{
    color: #333333;
font-family: 'Playfair Display', serif;
font-size: 20px;
}
.signup-content input:focus-visible{
    outline: none;
}
.icon{
    
position: absolute;
    
bottom: 0;
    
right: 0;
}
.load-more{

height: 210px;

text-align: center;

display: flex;

justify-content: center;

align-items: center;
padding-bottom: 100px;
}
.load-more button{
    
border: none;
    
border: 1px solid #626262;
    
padding: 25px;
    
font-size: 20px;
color:#626262 ;
font-family: 'Playfair Display', serif;
 
}
footer{

background-color: #f0f0ff;

height: 100px;

display: flex;

align-items: center;
}
.footer-content{

width: 80%;

margin: auto;

display: flex;

justify-content: space-between;
}
.terms{

width: 20%;
}
.terms ul{

list-style: none;

display: flex;

justify-content: space-between;
}
.terms ul li{

}
.terms ul li a{

text-decoration: none;

color: #3d3d3d;
}
.social-icon{
   
width: 13%;
} 
.social-icon ul{
   
list-style: none;
   
display: flex;
   
justify-content: space-between;
} 
.social-icon ul li{
   
color: #3d3d3d;
} 
.social-icon ul li a{
   
color: #7a7a7a;
} 
.social-icon ul li a i{
   
} 
